@page "/"

@using BlazorSupervisionRBI.Data
@inject OverviewService OverviewService
@inject DetailsNodeService DetailsNodeService
@inject DysfunctionalHardwareService DysfunctionalHardwareService
@inject DetailsAPMService DetailsAPMService

@if (overviewSymantec == null || overviewVeeam == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="accordion" style="width:500px" id="accordionNode">
        <h2 class="text-center"> Node severity</h2>
        @foreach (var item in overviewNode)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="header@(item.severity)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse@(item.severity)" aria-expanded="false"
                aria-controls="collapse@(item.severity)">
                        @item.countSeverity node(s) in @statusLayout[item.severity][0] state
                    </button>
                </h2>
                <div id="collapse@(item.severity)" class="accordion-collapse collapse" aria-labelledby="header@(item.severity)"
            data-bs-parent="#accordionNode">
                    <div class="accordion-body">
                        <table class="table table-striped" style="width:100%,padding:0px;">
                            <thead>
                                <tr>
                                    <th>Node Name</th>
                                    <th>Customer Code</th>
                                    <th>CS Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detail in detailsNodeBySeverity[item.severity])
                                {
                                    <tr>
                                        <td><a href=@(solarWindsLink+detail.detailsUrl) class="link" style="text-decoration: none">@detail.nodeName</a></td>
                                        <td>@detail.codeClient</td>
                                        <td>@detail.codeCS</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-inline-block">
        <h2 class="text-center"> Hardware alert </h2>
        <ul class="list-group list-group">
            @foreach (var item in hardwareInfoByNode)
            {
                <a href="@(solarWindsLink+item.detailsUrl)" class="list-group-item list-group-item-action list-group-item-primary" style="text-decoration: none;">Hardware alert on @item.nodeName : <em>@item.alertMessage</em></a>
                <li class="list-group-item" style="text-align:center">@foreach (var category in
            categoryByHardwareInfo[item.hardwareInfoID])
                    {
                        @category.categoryName <span>&nbsp</span>}</li>
            }
        </ul>
    </div>

    <div class="accordion" id="accordionSymantec">
        <h2 class="text-center"> Symantec alert </h2>
        @foreach (var item in overviewSymantec)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headerr@(item.severity)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsee@(item.severity)" aria-expanded="false"
                aria-controls="#collapsee@(item.severity)">
                        @item.countSeverity application(s) in @statusLayout[@item.severity][0] state
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapsee@(item.severity)"
            aria-labelledby="headerr@(item.severity)" data-bs-parent="#accordionSymantec">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Application Name</th>
                                    <th>Node Name</th>
                                    <th>Details Component</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var application in detailsSymantecAppBySeverity[item.severity])
                                {
                                    <tr>
                                        <td><a href="@(solarWindsLink+application.detailsUrl)" class="link" style="text-decoration: none;">@application.applicationName</a></td>
                                        <td>@application.nodeName</td>
                                        <td>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="header@(application.applicationID)">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse@(application.applicationID)"
                                            aria-expanded="false">
                                                        @detailsComponentByApp[@application.applicationID].Count dysfunctional
                                                        components
                                                    </button>
                                                </h2>
                                                <div class="accordion-collapse collapse" id="collapse@(application.applicationID)">
                                                    <div class="accordion-body">
                                                        @foreach (var component in
                                                       detailsComponentByApp[@application.applicationID])
                                                        {
                                                            <span><i class="bi bi-circle-fill"
                                                    style="color:@(statusLayout[component.componentStatus][1])"></i>&nbsp
                                                               <a href="@(solarWindsLink+component.detailsUrl)" class="link" style="text-decoration: none;"> @component.componentName </a><br /></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="accordion" id="accordionVeeam">
        <h2 class="text-center"> Veeam alert </h2>
        @foreach (var item in overviewVeeam)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headerrr@(item.severity)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseee@(item.severity)" aria-expanded="false"
                aria-controls="#collapseee@(item.severity)">
                        @item.countSeverity application(s) in @statusLayout[@item.severity][0] state
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseee@(item.severity)"
            aria-labelledby="headerrr@(item.severity)" data-bs-parent="#accordionVeeam">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Application Name</th>
                                    <th>Node Name</th>
                                    <th>Details Component</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var application in detailsVeeamAppBySeverity[item.severity])
                                {
                                    <tr>
                                        <td><a href="@(solarWindsLink+application.detailsUrl)" class="link" style="text-decoration: none;">@application.applicationName</a></td>
                                        <td>@application.nodeName</td>
                                        <td>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="header@(application.applicationID)">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse@(application.applicationID)"
                                            aria-expanded="false">
                                                        @detailsComponentByApp[@application.applicationID].Count dysfunctional
                                                        components
                                                    </button>
                                                </h2>
                                                <div class="accordion-collapse collapse" id="collapse@(application.applicationID)">
                                                    <div class="accordion-body">
                                                        @foreach (var component in
                                                       detailsComponentByApp[@application.applicationID])
                                                        {
                                                            <span><i class="bi bi-circle-fill"
                                                    style="color:@(statusLayout[component.componentStatus][1])"></i>&nbsp
                                                                <a href="@(solarWindsLink+component.detailsUrl)" class="link" style="text-decoration: none;">@component.componentName</a><br /></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

}

@code {
    private string solarWindsLink = "http://supervision.cloudrbi.com";
    private List<Overview> overviewSymantec;
    private List<Overview> overviewVeeam;
    private List<Overview> overviewNode;
    private Dictionary<int, List<string>> statusLayout = new Dictionary<int, List<string>>(){
{0,new List<string>{"unknown","lighblue"}},
{2,new List<string>{"down","tomato"}},
{3,new List<string>{"warning","gold"}},
{12, new List<string>{"unreachable","mediumblue"}},
{14, new List<string>{"critical","red"}},
{27, new List<string>{"disabled","grey"}}
};
    private Dictionary<int, List<DetailsNode>> detailsNodeBySeverity = new Dictionary<int, List<DetailsNode>>();
    private Dictionary<int, List<DysfunctionalHardware>> categoryByHardwareInfo = new Dictionary<int, List<DysfunctionalHardware>>();
    List<DysfunctionalHardware> hardwareInfoByNode = new List<DysfunctionalHardware>();
    Dictionary<int, List<DetailsAPM>> detailsSymantecAppBySeverity = new Dictionary<int, List<DetailsAPM>>();
    Dictionary<int, List<DetailsAPM>> detailsVeeamAppBySeverity = new Dictionary<int, List<DetailsAPM>>();
    Dictionary<int, List<DetailsComponent>> detailsComponentByApp = new Dictionary<int, List<DetailsComponent>>();

    protected override async Task OnInitializedAsync()
    {
        overviewSymantec = await OverviewService.GetAppBySeverityAsync("Symantec");
        overviewVeeam = await OverviewService.GetAppBySeverityAsync("Veeam");
        overviewNode = await OverviewService.GetNodeBySeverityAsync();

        foreach (var item in overviewNode)
        {
            List<DetailsNode> singleDetailList = await DetailsNodeService.GetDetailsNodeAsync(item.severity);
            detailsNodeBySeverity.Add(item.severity, singleDetailList);
        }

        foreach (var item in await DysfunctionalHardwareService.GetDysfunctionalHardwareAsync())
        {
            if (categoryByHardwareInfo.ContainsKey(item.hardwareInfoID))
            {
                categoryByHardwareInfo[item.hardwareInfoID].Add(new DysfunctionalHardware { categoryName = item.categoryName });
            }
            else
            {
                categoryByHardwareInfo.Add(item.hardwareInfoID, new List<DysfunctionalHardware>() {new DysfunctionalHardware {categoryName = item.categoryName }});
                hardwareInfoByNode.Add(new DysfunctionalHardware{
                    hardwareInfoID = item.hardwareInfoID, nodeName = item.nodeName, detailsUrl = item.detailsUrl, alertMessage = item.alertMessage
                    });
            }
        }

        foreach (var item in overviewSymantec)
        {
            List<DetailsAPM> singleDetailList = await DetailsAPMService.GetDetailsAPMAsync(item.severity, "Symantec");
            detailsSymantecAppBySeverity.Add(item.severity, singleDetailList);
        }

        foreach (var list in detailsSymantecAppBySeverity.Values)
        {
            foreach (var item in list)
            {
                List<DetailsComponent> singleComponentList = await DetailsAPMService.GetDetailsComponentAsync(item.applicationID);
                detailsComponentByApp.Add(item.applicationID, singleComponentList);
            }
        }

        foreach (var item in overviewVeeam)
        {
            List<DetailsAPM> singleDetailList = await DetailsAPMService.GetDetailsAPMAsync(item.severity, "Veeam");
            detailsVeeamAppBySeverity.Add(item.severity, singleDetailList);
        }

        foreach (var list in detailsVeeamAppBySeverity.Values)
        {
            foreach (var item in list)
            {
                List<DetailsComponent> singleComponentList = await DetailsAPMService.GetDetailsComponentAsync(item.applicationID);
                detailsComponentByApp.Add(item.applicationID, singleComponentList);
            }
        }
        StateHasChanged();
    }
}