@page "/SymantecVeeam"
@inject DetailsAPMService DetailsAPMService
@inject OverviewService OverviewService


    <div class="accordion" id="accordionSymantec">
        <h2 class="text-center mb-4">  Alerte Symantec </h2>
        @foreach (var item in overviewSymantec)
        {
            <div class="accordion-item mb-4">
                <h2 class="accordion-header " id="headerr@(item.severity)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsee@(item.severity)" aria-expanded="false"
                aria-controls="#collapsee@(item.severity)" style="background-color: @CommonClass.statusLayout[@item.severity][1];display:block;text-align:center" >
                        <h4 style="color:white">@item.countSeverity application(s) @CommonClass.statusLayout[@item.severity][0]</h4>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapsee@(item.severity)"
            aria-labelledby="headerr@(item.severity)" data-bs-parent="#accordionSymantec">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Code Client</th>
                                    <th>Code CS</th>
                                    <th>Nom du serveur</th>
                                    <th>Nom du template Symantec</th>
                                    <th>Composant(s) en alerte</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var application in detailsSymantecAppBySeverity[item.severity])
                                {
                                    <tr>
                                        <td>@application.clientName</td>
                                        <td>@application.csCode</td>
                                        <td>@application.nodeName</td>
                                        <td><a href="@(CommonClass.solarWindsLink+application.detailsUrl)" class="link" style="text-decoration: none;">@application.applicationName</a></td>
                                        <td>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="header@(application.applicationID)">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse@(application.applicationID)"
                                            aria-expanded="false">
                                                        @detailsComponentByApp[@application.applicationID].Count composant(s) en dysfonctionnement
                                                    </button>
                                                </h2>
                                                <div class="accordion-collapse collapse" id="collapse@(application.applicationID)">
                                                    <div class="accordion-body">
                                                        @foreach (var component in
                                                       detailsComponentByApp[@application.applicationID])
                                                        {
                                                            <span><i class="bi bi-circle-fill"
                                                    style="color:@(CommonClass.statusLayout[component.componentStatus][1])"></i>&nbsp
                                                               <a href="@(CommonClass.solarWindsLink+component.detailsUrl)" class="link" style="text-decoration: none;"> @component.componentName </a><br /></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="accordion" id="accordionVeeam">
        <h2 class="text-center mb-4"> Alerte Veeam </h2>
        @foreach (var item in overviewVeeam)
        {
            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="headerrr@(item.severity)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseee@(item.severity)" aria-expanded="false"
                aria-controls="#collapseee@(item.severity)" style="background-color:@CommonClass.statusLayout[@item.severity][1];display:block;text-align:center;">
                        <h4 style="color: white;">@item.countSeverity application(s) @CommonClass.statusLayout[@item.severity][0] </h4>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseee@(item.severity)"
            aria-labelledby="headerrr@(item.severity)" data-bs-parent="#accordionVeeam">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom du template Veeam</th>
                                    <th>Nom du serveur</th>
                                    <th>Composant(s) en alerte</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var application in detailsVeeamAppBySeverity[item.severity])
                                {
                                    <tr>
                                        <td><a href="@(CommonClass.solarWindsLink+application.detailsUrl)" class="link" style="text-decoration: none;">@application.applicationName</a></td>
                                        <td>@application.nodeName</td>
                                        <td>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="header@(application.applicationID)">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse@(application.applicationID)"
                                            aria-expanded="false">
                                                        @detailsComponentByApp[@application.applicationID].Count composant(s) en dysfonctionnement.
                                                    </button>
                                                </h2>
                                                <div class="accordion-collapse collapse" id="collapse@(application.applicationID)">
                                                    <div class="accordion-body">
                                                        @foreach (var component in
                                                       detailsComponentByApp[@application.applicationID])
                                                        {
                                                            <span><i class="bi bi-circle-fill"
                                                    style="color:@(CommonClass.statusLayout[component.componentStatus][1])"></i>&nbsp
                                                                <a href="@(CommonClass.solarWindsLink+component.detailsUrl)" class="link" style="text-decoration: none;">@component.componentName</a><br /></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

@code {
    private List<Overview> overviewSymantec;
    private List<Overview> overviewVeeam;
    Dictionary<int, List<DetailsAPM>> detailsSymantecAppBySeverity = new Dictionary<int, List<DetailsAPM>>();
    Dictionary<int, List<DetailsAPM>> detailsVeeamAppBySeverity = new Dictionary<int, List<DetailsAPM>>();
    Dictionary<int, List<DetailsComponent>> detailsComponentByApp = new Dictionary<int, List<DetailsComponent>>();
    protected override async Task OnInitializedAsync()
    {
        overviewSymantec = await OverviewService.GetAppBySeverityAsync("Symantec");
        overviewVeeam = await OverviewService.GetAppBySeverityAsync("Veeam");
        //Peuple les tables de la section "Alerte Symantec"
        foreach (var item in overviewSymantec)
        {
            List<DetailsAPM> singleDetailList = await DetailsAPMService.GetDetailsAPMAsync(item.severity, "Symantec");
            detailsSymantecAppBySeverity.Add(item.severity, singleDetailList);
        }
        //Peuple la liste de composants pour chaque application en état d'alerte.
        foreach (var list in detailsSymantecAppBySeverity.Values)
        {
            foreach (var item in list)
            {
                List<DetailsComponent> singleComponentList = await DetailsAPMService.GetDetailsComponentAsync(item.applicationID);
                detailsComponentByApp.Add(item.applicationID, singleComponentList);
            }
        }
        //Peuple les tables de la section "Alerte Symantec"
        foreach (var item in overviewVeeam)
        {
            List<DetailsAPM> singleDetailList = await DetailsAPMService.GetDetailsAPMAsync(item.severity, "Veeam");
            detailsVeeamAppBySeverity.Add(item.severity, singleDetailList);
        }
        //Peuple la liste de composants pour chaque application en état d'alerte.
        foreach (var list in detailsVeeamAppBySeverity.Values)
        {
            foreach (var item in list)
            {
                List<DetailsComponent> singleComponentList = await DetailsAPMService.GetDetailsComponentAsync(item.applicationID);
                detailsComponentByApp.Add(item.applicationID, singleComponentList);
            }
        }
        StateHasChanged();
    }
}